@font-face {
    font-family: "Fira";
    src: url("../fonts/FiraSans-Bold.eot");
    src: url("../fonts/FiraSans-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSans-Bold.woff") format("woff"),
    url("../fonts/FiraSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Fira";
    src: url("../fonts/FiraSans-Regular.eot");
    src: url("../fonts/FiraSans-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSans-Regular.woff") format("woff"),
    url("../fonts/FiraSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fira";
    src: url("../fonts/FiraSans-Medium.eot");
    src: url("../fonts/FiraSans-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSans-Medium.woff") format("woff"),
    url("../fonts/FiraSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Fira";
    src: url("../fonts/FiraSans-ExtraBold.eot");
    src: url("../fonts/FiraSans-ExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSans-ExtraBold.woff") format("woff"),
    url("../fonts/FiraSans-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}